asgiref==3.8.1
Django==4.2.10
django-cors-headers==4.3.1
django-grappelli==3.0.8
django-smart-selects==1.6.0
djangorestframework==3.14.0
gunicorn==21.2.0
packaging==25.0
psycopg2-binary==2.9.9
pytz==2025.2
sqlparse==0.5.3
typing_extensions==4.13.2
whitenoise==6.6.0
