Django>=4.2
gunicorn
whitenoise
Faker
django-environ
django-smart-selects
django-extensions
drf-spectacular
django-filter
django-cors-headers
djangorestframework
reportlab
Pillow
requests
python-dateutil
pytz
openpyxl
