{% extends "admin/base_site.html" %} {% load i18n grp_tags admin_urls admin_static admin_list %} {% block stylesheets %} {{ block.super }} {{ media.css }} {% endblock %} {% block javascripts %} {{ block.super }} {{ media.js }} {% if cl.formset or action_form %} {% url 'admin:jsi18n' as jsi18nurl %} {% endif %} {% if action_form %} {% endif %} {% if cl.formset %} {% endif %} {% endblock %} {% block content_title %}

{{ cl.opts.verbose_name_plural|capfirst }}

{% endblock %} {% block object-tools %}
{% endblock %}
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="/">{% trans "Home" %}</a></li>
    </ul>
{% endblock %}



{% block content %}
<table>
	<form action="/consultas">
    	<input type="submit" value="Consultas">
	</form>
	<form action="/ingresar">
    	<input type="submit" value="Ingresar">
	</form>
</table>
{% endblock %}

        


